@media (max-width: 980px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .details,
  .cart-layout,
  .checkout,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .thead,
  .trow {
    grid-template-columns: 1.6fr 1fr 1fr 1.2fr;
  }

  .search {
    display: none;
  }
}

@media (max-width: 560px) {
  .navbar-inner {
    flex-wrap: wrap;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .cart-item {
    grid-template-columns: 70px 1fr;
  }

  .cart-total {
    grid-column: 2;
    text-align: left;
  }
}
